@model MVCProject.ViewModels.EmployeeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewModel</title>
    Employee Details:<br/>
    EmployeeName: @Model.EmployeeName <br/>
    <span style="background-color:@Model.SalaryColor">EmployeeSalary: @Model.Salary</span>

</head>
<body>
    <div> 
    </div>
</body>
</html>
