<!DOCTYPE html>
@using DataAccess.ViewModels
@model BaseViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleSection")</title>
    @RenderSection("HeaderSection",false)
</head>
<body>
    <div style="text-align:right">
       Hello,@Model.UserName
        <a href="/Authentication/Logout">Logout</a>
        </div>
        <hr/>
        <div>
       @RenderSection("ContentBody")
       
            </div>
  @{Html.RenderPartial("Footer", @Model.FooterData);}
      
</body>
</html>
